node_modules
.pnpm-store
dist
.turbo
.next
out
build
coverage
*.log
.DS_Store
.env.local
.env.*.local


**/*/target
.fused
**/.dist-*
**/.webawesome-entry.js
*.node
packages/css-fuse/bin/css-fuse-bin

